<launch>
  <arg name="sim" default="true"/>

  <include file="$(find group7_project)/launch/root.launch">
    <arg name="world" value="group7-3" />
    <arg name="x_pos" default="3.15"/>
    <arg name="y_pos" default="1.6"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="rviz" default="section4"/>
    <arg name="model" default="group7_project"/>
    <arg name="sim" default="$(arg sim)"/>
    <arg name="detector" value="detector.py"/>
  </include>

  <node pkg="group7_project" type="navigator.py" name="navigator" output="screen" />
  <node pkg="group7_project" type="marker_pub.py" name="marker_pub" output="screen" />
  <node pkg="group7_project" type="keyboard_teleop.py" name="teleop" args="" output="screen" launch-prefix="gnome-terminal -e" />
</launch>
